<section class="section is-small">
<h1 class="title is-1 has-text-light has-text-centered" (click)="goHome()"> titletitletitle </h1>
</section>

<section class="section is-small">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">

        <div class="column is-5-tablet is-4-desktop is-5-widescreen">
          <form action="" class="box">
            <div class="field">
              <label for="" class="label">Email</label>
              <div class="control">
                <input type="email" placeholder="e.g. bobsmith@gmail.com" class="input" required>
              </div>
            </div>
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control">
                <input type="password" placeholder="*******" class="input" required>
              </div>
            </div>
            <div class="field">
              <button class="button is-success">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
