<p>create-blog works!</p>
<form [formGroup]="blogForm" (ngSubmit)="CreateBlog()" type="" class="box">
  <div class="field">
    <label for="" class="label">Display Name</label>
    <div class="control">
      <input formControlName="display" type="text" placeholder="Name" class="input" required>
    </div>
  </div>
  <div class="field">
    <label for="" class="label"> Type anonymously</label>
    <div class="control">
      <input formControlName="content" type="text" placeholder="type here" class="input" required>
    </div>
  </div>
  <div *ngIf="firebaseErrorMessage != ''" class="error-style">
      <span> {{ firebaseErrorMessage }}</span>
  </div>
  <div class="field">
    <button class="button is-success">
      submit
    </button>
  </div>
</form>
